<h3>@ViewBag.Message</h3>


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>

    <div class="СontainerListShortLinksResult">
        <button id="ListShortLinks">list of short links</button>
        <div id="ListShortLinksResult"></div>
    </div>

    <script>
        $(function () {
            $.ajaxSetup({
                cache: false
            });

            var loadUrl = "https://localhost:44313/Home/ListShortLinks";

            $("#ListShortLinks").click(function () {
                $("#ListShortLinksResult").load(loadUrl);
            });
        });
    </script>

    <div class="СontainerCreateShortLink">
        <input type="text" placeholder="Type full link" id="userFullLink">
        <button id="CreateShortLink">Create short link</button>
        <div id="CreateShortLinkResult"></div>
    </div>

    <script>
        $(function () {

            $.ajaxSetup({
                cache: false
            });

            $("#CreateShortLink").click(function () {
                var tempString = $("#userFullLink").val();
                var result = "https://localhost:44313/Home/CreateShortLink?fullLink=" + tempString.replace(/\s+/g, '');
                $("#CreateShortLinkResult").load(result);
            });
        });
    </script>

    <div class="СontainerFindFullLink">
        <input type="text" placeholder="Type token" id="userToken">
        <button id="FindFullLink">Find full link</button>
        <div>
            <a class="FindFullLinkResult" href="url" id="FindFullLinkResult"></a>
        </div>
    </div>

    <script>
        $(function () {

            $.ajaxSetup({
                cache: false
            });

            $("#FindFullLink").click(function () {
                var tempString = $("#userToken").val();
                var result = "https://localhost:44313/Home/FindFullLink?token=" + tempString.replace(/\s+/g, '');
                $("#FindFullLinkResult").load(result);
                $.get(result, function (data) {
                    $(".FindFullLinkResult").attr("href", data);
                });
            });
        });
    </script>

</body>
</html>

